{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      <div class="col-1.5">
          <h>First column</h>
      </div>
      <div class="col">
        <div>

          <p class='text-center'>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>

        </div>

      </div>
      <div class="col-2">
        <h>Third column</h>
      </div>
    </div>

  </div>


  {% endblock %}

  {% block javascript %}


  {% endblock %}
