{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">

  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      <div class="col">

        <div class="square_box_div">

        <p>{{alert}}</p>

        <h>Enter you email, please</h>

          <form action="" method="post" style="margin-top: 10px;">
            {% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-info cust-button" value="Reset password" />
          </form>

        </div>

      </div>

    </div>

  </div>


  {% endblock %}

  {% block javascript %}


  {% endblock %}
