{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      <div class="col-1.5">
          <h>First column</h>
      </div>
      <div class="col">
        <div>

            <h1>The password has been changed!</h1>
            <p><a href="{% url 'login' %}">Log in again?</a></p>
      </div>


      </div>
      <div class="col-2">
        <h>Third column</h>
      </div>
    </div>

  </div>


  {% endblock %}

  {% block javascript %}


  {% endblock %}
