{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      <div class="col-1.5">
          <h>First column</h>
      </div>
      <div class="col">
        <div class='text-center'>

        <p>{{alert}}</p>

        <h>Enter you email, please</h>

          <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email }}</p>
            <input type="submit" class="btn btn-info" value="Reset password" />
          </form>

        </div>

      </div>
      <div class="col-2">
        <h>Third column</h>
      </div>
    </div>

  </div>


  {% endblock %}

  {% block javascript %}


  {% endblock %}
