{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">
  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      <div class="col-1.5">
        <h>Profile</h>
        <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
        <img class='round-im-100' src="{{ profile.small_avatar_url }}">
        {% if profile.status %}
          <p>{{profile.status}}</p>
        {% endif %}
        {% if profile.user.id != request.user.id %}
          <div class="subs-button">
            {% if you_subscribed %}
              <button type="button" class="btn btn-outline-info" id= "unsubscribe">Unsubscribe</button>
            {% else %}
              <button type="button" class="btn btn-info" id= "subscribe"> Subscribe </button>
            {% endif %}
          </div>
        {% else %}
            <a href="{% url 'avatarize' %}">Add avatar?</a>
        {% endif %}
      </div>
      <div class="col">
        <div>

        <ul class="list-group notif-column">
           {% for like in like %}
              <li class="list-group-item">

                {% if like.content_object.is_repost %}

                    <p><img class='round-im-50' src="{{ like.content_object.author.profile.ultra_avatar_url }}">    {{like.content_object.author.first_name}}
                            {{like.content_object.author.last_name}}</p>
                    <p style = 'margin-left: 10px;'><img class='round-im-50' src="{{ like.content_object.repost.author.profile.ultra_avatar_url }}">    {{like.content_object.repost.author.first_name}}
                            {{like.content_object.repost.author.last_name}}</p>
                    <a href="{% url 'wall' like.content_object.repost.author.id %}" class = 'post_detail'><p>{{like.content_object.repost.text}}</p></a>

                {% else %}

                    <p><img class='round-im-50' src="{{ like.content_object.author.profile.ultra_avatar_url }}">    {{like.content_object.author.first_name}} {{like.content_object.author.last_name}}</p>
                    <a href="{% url 'wall' like.content_object.author.id %}" class = 'post_detail'><p>{{like.content_object.text}}</p></a>

                {% endif %}
              </li>
           {% endfor %}
        </ul>

        </div>

      </div>
      <div class="col-2">
        <h>Third column</h>
      </div>
    </div>

  </div>


  {% endblock %}

  {% block javascript %}


    <script src = "{% static 'js/myscripts.js' %}"></script>

  {% endblock %}
