{% extends 'base.html' %}

  {% load static %}
  {% load cache %}

  {% block custom_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">
  {% endblock %}


  {% block content %}


  <div class="container">
    {% if request.user.profile.red_envelope %}
      <p id='red-envelope'></p>
    {% endif %}

    <div class="row">
      {% cache 300 first request.user.username %}

      <div class="first-column">
        <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
        <img class='round-im-100 avatar' src="{{ profile.small_avatar_url }}" name = '{{profile.avatar_opening_link}}' style="vertical-align: middle;">
        {% if profile.status %}
          <p>{{profile.status}}</p>
        {% endif %}


            {% if notif == True %}
              <p id= 'notif' name ='True'></p>
            {% else %}
              <p id= 'notif' name = 'False'></p>
            {% endif %}

      </div>
      {% endcache %}
      <div class="second-column">

        <div class="gallery-container">
            <div class="gallery-window">
            </div>
        </div>



        <div>


          <form class="input-name" action="{% url 'people' %}" method="get" style="margin-top:10px!important;">
             <input class="form-control inp-name" type="search" placeholder="Input name" name="name" style="width:700px!important; margin-left: auto; margin-right: auto;">
          </form>


        <ul class="list-group people-column" style="margin-top:10px;">
           {% for profile in people %}
           <a href="{% url 'wall' profile.user.id %}" style="color: black; text-decoration: none;">
              <li class="list-group-item" style="width:700px!important; margin-left: auto; margin-right: auto;">

                  <p class='people_elem'>
                    <img src = "{{profile.ultra_avatar_url}}" class ='round-im-50'>
                    {{profile.user.first_name}} {{profile.user.last_name}}
                    {% if profile.user in request.user.profile.my_following %}
                      <span class="badge badge-success">You follow</span>
                    {% endif %}
                    {% if profile.user in request.user.profile.my_followers %}
                      <span class="badge badge-danger">Follow you</span>
                    {% endif %}
                    {% if profile.user == request.user %}
                      <span class="badge badge-primary">You</span>
                    {% endif %}
                    {{profile.rating}} followers
                  </p>

              </li>
            </a>
           {% endfor %}
           <p class='page-number' name=1></p>
        </ul>

        </div>

      </div>
      {% cache 300 third request.user.username %}
      <div class="third-column">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-info my_subs">Following</button>
          <button type="button" class="btn btn-outline-info onme_subs">Followers</button>
        </div>
        <ul class="list-group">
          <div class="mysubs-group">
          {% for subscrib in my_subscribs %}
            <a href="{% url 'wall' subscrib.to.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.to.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.to.first_name}} {{subscrib.to.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
        <ul class="list-group">
          <div class="subs_onme_group">
          {% for subscrib in subscrib_onme %}
            <a href="{% url 'wall' subscrib.who.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.who.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.who.first_name}} {{subscrib.who.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
      </div>
      {% endcache %}
    </div>

  </div>


  {% endblock %}

  {% block javascript %}

    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src = "{% static 'js/ajax.js' %}"></script>
    <script src = "{% static 'js/ajax-scrolling-people.js' %}"></script>
    <script src = "{% static 'js/myscripts.js' %}"></script>
    <script src = "{% static 'js/ajax-update-messages.js' %}"></script>


  {% endblock %}
