{% extends 'base.html' %}

  {% load static %}
  {% load cache %}

  {% block custom_css %}
  <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">
  {% endblock %}


  {% block content %}



  <div class="container">

    {% if request.user.profile.red_envelope %}
      <p id='red-envelope'></p>
    {% endif %}

    <div class="row three-columns">


      <div class="first-column">
          <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>

              <img class='round-im-100 avatar' src="{{ profile.small_avatar_url }}" name = '{{profile.avatar_opening_link}}' style="vertical-align: middle;">



          {% if profile.user.id != request.user.id %}
            <div class="subs-button">
              {% if profile.status %}
                <p class ='str-status'>{{profile.status}}</p>
              {% endif %}
              {% if you_subscribed %}
                <button type="button" class="btn btn-outline-info" id= "unsubscribe">Unsubscribe</button>
              {% else %}
                <button type="button" class="btn btn-info" id= "subscribe"> Subscribe </button>
              {% endif %}
            </div>

            <p id= 'to-write-message' style ='color:rgb(0, 123, 255);'>Write a message</p>


                  <form action="" method="post" id="messaging" enctype="multipart/form-data">
                        {% csrf_token %}
                      <div class="hidden-message-form" style = 'display: none;'>

                        <div class="form-group">

                          <label for="id_text">Text:</label>
                          <textarea name="text" id="id_text" cols="1" rows="2" maxlength="1000" class="form-control"></textarea>
                        </div>

                        <p><label for="id_image"></label>
                        <input name="image" accept="image/*" multiple="" id="id_image" type="file" style = 'display: none;'></p>

                        <input value="Submit" class="btn btn-dark cust-button" type="submit">
                        <i class="far fa-file-image" id= 'show-image-form'></i>

                      </div>

                    </form>

                {% if request.user.profile.is_closed %}

                  {% if fol %}
                    <p>This user subscribbed on you</p>
                    <p class = 'access-confirm' style ='color:rgb(0, 123, 255);'>Do you want to give him access to your page?</p>
                  {% endif %}
                  {% if black %}
                    <p class = 'black-book' style ='color:rgb(0, 123, 255);'>Do you want to forbid an access to your page for this user?</p>
                  {% endif %}

               {% endif %}

          {% else %}
          {% if notif == True %}
            <p id= 'notif' name ='True'></p>
          {% else %}
            <p id= 'notif' name = 'False'></p>
          {% endif %}

              <div class="status">
                {% if profile.status %}
                  <p class ='str-status'>{{profile.status}}</p>
                {% endif %}
                <p class = 'change-status'><a href="">Change status?</a></p>
                <div class="form-status">
                      <form action="" method="post" class= 'status-enter'>
                          {% csrf_token %}
                          {{ form_st.as_p }}
                          <input type='submit' value = 'Submit' class ='btn btn-dark cust-button'>
                      </form>
                </div>
              </div>
          {% endif %}
      </div>


      <div class="second-column">

        <div class="gallery-container">
            <div class="gallery-window">
            </div>
        </div>


        {% if profile.user.id == request.user.id %}

          <form action="" method="post" id= 'posting'>

            <div class="hidden-post-form">
              {% csrf_token %}

              <div class="form-group">
                {% csrf_token %}

                <label for="id_text" style="font-weight:bold; color:purple;">Add your post</label>
                <textarea name="text" id="id_text" cols="2" class="form-control" maxlength="1000" rows="3"></textarea>
                <i class="far fa-image fa-2x add-picture" style="color: purple;"></i>
              </div>

              <div class="form-group">
                <input type="file" name="image" accept="image/*" id="id_image_post" multiple="" style="display:none;">
              </div>


              <input type='submit' value = 'Submit' class ='btn btn-dark cust-button' style="display:none;">
            </div>

          </form>

        {% endif %}

        {% if taboo %}
          <p class = 'text-center' style = 'margin-top: 20px'>You can't access to materials. Ask for it, subscribing on this user.</p>
        {% else %}

                <ul class="list-group  post-column" id='post-list'>


                {% for post in post %}


                  <li class="list-group-item posts">
                      <div class = 'one-post' name = '{{post.id}}' >
                        {% if post.author == request.user %}
                          <i class="fas fa-times" style ="position: absolute; right: 5%; left: 95%;" name ='delete'></i>
                        {% endif %}
                        {% if post.is_repost == False %}

                          <a class='postlink' href="{% url 'post_detail' post.id %}">
                            {% if post.text %}
                            <p class = 'post-text'>{{post.text}}</p>
                            {% endif %}
                            <p class = 'post-date'>{{post.pub_date}}</p>
                          </a>

                            {% if post.image_box %}
                              <p>
                                  {% for image in post.image_box %}
                                    <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                  {% endfor %}
                              </p>
                            {% endif %}
                            {% if request.user in post.who_liked %}
                              <i class="fas fa-heart liked" name = 'liking' id= '{{post.id}}'  style ='color:red;'>{{post.likes_quanity}}</i>
                            {% else %}
                               <i class="fas fa-heart not-liked" name = 'liking' id= '{{post.id}}' style ='color:black;'>{{post.likes_quanity}}</i>
                            {% endif %}
                        {% if post.author != request.user %}
                          <i class="fas fa-external-link-square-alt" name = 'reposting'>{{post.reposts_quanity}}</i>
                        {% else %}
                              <i class="fas fa-external-link-square-alt" name ='my-post-repost'>{{post.reposts_quanity}}</i>
                        {% endif %}

                        {% else %}
                          <a class='postlink' href="{% url 'wall' post.repost.author.id %}">
                            <p>
                              Author: {{post.repost.author.first_name}} {{post.repost.author.last_name}}
                          </p>
                          </a>

                          <a href="{% url 'post_detail' post.repost.id %}">
                            {% if post.repost.text %}
                            <p class="post-text">{{post.repost.text}}</p>
                            {% endif %}
                            <p class = 'post-date'>{{post.pub_date}}</p>
                          </a>

                          {% if post.repost.image_box %}
                            <p>
                                {% for image in post.repost.image_box %}
                                  <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                {% endfor %}
                            </p>
                          {% endif %}
                          {% if request.user in post.who_liked %}
                            <i class="fas fa-heart liked" name = 'liking' id= '{{post.id}}'  style ='color:red';>{{post.likes_quanity}}</i>
                          {% else %}
                             <i class="fas fa-heart not-liked" name = 'liking' id= '{{post.id}}' style ='color:black;'>{{post.likes_quanity}}</i>
                          {% endif %}
                        {% if post.repost.author != request.user %}
                          {% if post.author != request.user  %}
                            <i class="fas fa-external-link-square-alt" name = 'reposting'>{{post.reposts_quanity}}</i>
                          {% else %}
                            <i class="fas fa-external-link-square-alt" name ='my-post-repost'>{{post.reposts_quanity}}</i>
                          {% endif %}
                        {% else %}
                            <i class="fas fa-external-link-square-alt" name ='my-post-repost'>{{post.reposts_quanity}}</i>
                        {% endif %}
                        {% endif %}
                        <i class="fas fa-comment" name = '{{post.id}}'>{{post.comments_quanity}}</i>

                        {% if post.all_comments %}
                            <p class ='show-comments' style ='color:rgb(0, 123, 255);'>Show all comments</p>
                        {% endif %}


                        <ul class="list-group  com-column">

                          {% for comment in post.all_comments %}

                          <li class="list-group-item one-comment" name ='{{comment.id}}'>
                            <a href="{% url 'wall' comment.commentator.id %}"><p class ='commentator-name'>{{comment.commentator.first_name}} {{comment.commentator.last_name}}</p></a>
                            {% if comment.is_to_comment %}
                              <p><a href="{% url 'wall' comment.answer_to.commentator.id %}">{{comment.answer_to.commentator.first_name}}</a>, {{comment.text}}</p>
                            {% else %}
                              <p>{{comment.text}}</p>
                            {% endif %}
                              <p>{{comment.com_date}}</p>
                          </li>
                          {% endfor %}
                        </ul>

                            <form action="" method="post" class= 'comment-sent' name = 'empty'>
                              <div class="hidden-comment-form"  style = 'display: none;'>
                                {% csrf_token %}
                                {{ form_com.as_p }}
                                <input type='submit' value = 'submit' class ='btn btn-dark cust-button add-comment'>
                              </div>
                            </form>




                  </div>
                  </li>



                {% endfor %}
                <p class='page-number' name=1></p>
              </ul>

                <div>

                </div>
                {% endif %}

      </div>
      <div class="third-column">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-info my_subs">Following</button>
          <button type="button" class="btn btn-outline-info onme_subs">Followers</button>
        </div>
        <ul class="list-group">
          <div class="mysubs-group">
          {% for subscrib in subscrib %}
            <a href="{% url 'wall' subscrib.to.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.to.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.to.first_name}} {{subscrib.to.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
        <ul class="list-group">
          <div class="subs_onme_group">
          {% for subscrib in subscrib_onme %}
            <a href="{% url 'wall' subscrib.who.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.who.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.who.first_name}} {{subscrib.who.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>

        </ul>
      </div>
    </div>

  </div>


{% endblock %}

{% block javascript %}

    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src = "{% static 'js/ajax.js' %}"></script>
    <script src = "{% static 'js/myscripts.js' %}"></script>
    <script src = "{% static 'js/ajax-scrolling-wall.js' %}"></script>
    <script src = "{% static 'js/ajax-update-messages.js' %}"></script>


{% endblock %}
