{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  {% endblock %}


  {% block content %}


  <div class="container">



    <div class="row">

      <div class="col">

        <div class="square_box_div">

            <p>Are you sure you want to delete your profile? You won't be able to cancel this action</p>

            <a href="{% url 'delete_user_action' %}"><button type="button" class="btn btn-dark delete-confirm">Yes</button></a>
            <a href="{% url 'edit_profile' %}"><button type="button" class="btn btn-light">No</button></a>

        </div>


      </div>

    </div>

  </div>


  {% endblock %}
  {% block javascript %}


    <script src = "{% static 'js/myscripts.js' %}"></script>

  {% endblock %}
