{% extends 'base.html' %}

  {% load static %}
  {% load cache %}

  {% block custom_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">
  {% endblock %}


  {% block content %}


  <div class="container">
    {% if request.user.profile.red_envelope %}
      <p id='red-envelope'></p>
    {% endif %}

    <div class="row">
      {% cache 300 first request.user.username %}

      <div class="first-column">
        <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
        <img class='round-im-100 avatar' src="{{ profile.small_avatar_url }}" name = '{{profile.avatar_opening_link}}' style="vertical-align: middle;">
        {% if profile.status %}
          <p>{{profile.status}}</p>
        {% endif %}


            {% if notif == True %}
              <p id= 'notif' name ='True'></p>
            {% else %}
              <p id= 'notif' name = 'False'></p>
            {% endif %}

      </div>
      {% endcache %}
      <div class="second-column">

        <div class="gallery-container">
            <div class="gallery-window">
            </div>
        </div>

        <div>

        <ul class="list-group chatlist">
           {% for chat in chat %}
              <li class="list-group-item"  name = '{{chat.id}}'>
                  <a href="#" class = 'go-to-chat'>
                    <form action="{% url 'messenger:chat' chat.id %}" class="this_chat" method="POST">
                      {% csrf_token%}
                    <input type="hidden" name="var" value="val">
                    </form>
                  {% if chat.is_not_group_chat %}
                    {% for member in chat.members %}
                      {% if member != request.user %}
                        <p><img class='round-im-50' src="{{member.profile.ultra_avatar_url}}" style="vertical-align: middle;">{{member.first_name}} {{member.last_name}}</p>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <p><img class='round-im-50' src="{{chat.chat_small_pict_url}}" style="vertical-align: middle;">{{chat.name}}</p>
                  {% endif %}
                  {% if request.user in chat.facial_message.recieved and chat.facial_message.has_two_readers %}
                    {% if chat.facial_message.text %}
                      <p class='facial'><img class='round-im-25' src="{{chat.facial_message.writer.profile.micro_avatar_url}}" style="vertical-align: middle;">{{chat.facial_message.text}}</p>
                    {% else %}
                      <p class='facial'><img class='round-im-25' src="{{chat.facial_message.writer.profile.micro_avatar_url}}" style="vertical-align: middle;">Images</p>
                    {% endif %}
                  {% else %}
                    {% if chat.facial_message.text %}
                      <p class='facial' style ="background-color: rgb(247, 245, 245)";><img class='round-im-25' src="{{chat.facial_message.writer.profile.micro_avatar_url}}" style="vertical-align: middle;">{{chat.facial_message.text}}</p>
                    {% else %}
                      <p class='facial' style ="background-color: rgb(247, 245, 245)";><img class='round-im-25' src="{{chat.facial_message.writer.profile.micro_avatar_url}}" style="vertical-align: middle;">Images</p>
                    {% endif %}
                  {% endif %}
                </a>
              </li>

           {% endfor %}

        </ul>


        <a href="{% url 'messenger:create_chat' %}">Start new chat</a>

        </div>


      </div>
      {% cache 300 third request.user.username %}
      <div class="third-column">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-info my_subs">Following</button>
          <button type="button" class="btn btn-outline-info onme_subs">Followers</button>
        </div>
        <ul class="list-group">
          <div class="mysubs-group">
          {% for subscrib in my_subscribs %}
            <a href="{% url 'wall' subscrib.to.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.to.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.to.first_name}} {{subscrib.to.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
        <ul class="list-group">
          <div class="subs_onme_group">
          {% for subscrib in subscrib_onme %}
            <a href="{% url 'wall' subscrib.who.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.who.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.who.first_name}} {{subscrib.who.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
      </div>
      {% endcache %}
    </div>

  </div>



  {% endblock %}

  {% block javascript %}

    <script src = "{% static 'js/myscripts.js' %}"></script>
    <script src = "{% static 'js/ajax-update-messages.js' %}"></script>



  {% endblock %}
