{% extends 'base.html' %}

  {% load static %}
  {% load cache %}

  {% block custom_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">

  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row">
      {% cache 300 first request.user.username %}

      <div class="first-column">
        <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
        <img class='round-im-100' src="{{ profile.small_avatar_url }}">
        {% if profile.status %}
          <p>{{profile.status}}</p>
        {% endif %}


            {% if notif == True %}
              <p id= 'notif' name ='True'></p>
            {% else %}
              <p id= 'notif' name = 'False'></p>
            {% endif %}

            {% if unread == True %}
              <p id= 'sign' name = 'True'></p>
            {% else %}
              <p id= 'sign' name ='False'></p>
            {% endif %}
      </div>
      {% endcache %}
      <div class="second-column">
        <div>
          {% if chat.is_group_chat %}
            <p style="color:purple;">{{chat.name}}</p>
            <p>
            {% for member in chat.members %}
              {{member.first_name}} {{member.last_name}},
            {% endfor %}
            </p>
          {% endif %}
        <div class="scroll-message-box">
        <ul class="list-group" id='message-list'>
          <p class="page-number"  name = 1></p>
           {% for message in messages %}

                {% if  message.chat.is_group_chat %}

                      {% if request.user == message.writer %}

                            {% if message.has_two_readers %}

                                  <li class="list-group-item {{message.writer.id}}" style ="background-color: white;">
                                    <p class ='writer'>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                    {% if message.text %}
                                      <p>{{message.text}}</p>
                                    {% endif %}
                                    {% if message.image_box %}
                                      <table>
                                        <tr>

                                          {% for image in message.image_box %}
                                          <td>
                                            <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                           </td>
                                          {% endfor %}

                                        </tr>
                                      </table>
                                    {% endif %}

                                    <p class = 'date'>{{message.pub_date}}</p>
                                  </li>

                            {% else %}

                                  <li class="list-group-item not-read-messages {{message.writer.id}}"  style ="background-color: rgb(247, 245, 245);">
                                   <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                   {% if message.text %}
                                     <p>{{message.text}}</p>
                                   {% endif %}
                                   {% if message.image_box %}
                                     <table>
                                       <tr>

                                         {% for image in message.image_box %}
                                         <td>
                                           <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                          </td>
                                         {% endfor %}

                                       </tr>
                                     </table>
                                   {% endif %}

                                   <p>{{message.pub_date}}</p>
                                 </li>

                            {% endif %}

                      {% else %}

                            {% if request.user in message.recieved %}

                                  <li class="list-group-item {{message.writer.id}}" style ="background-color: white;">
                                    <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                    {% if message.text %}
                                      <p>{{message.text}}</p>
                                    {% endif %}
                                    {% if message.image_box %}
                                      <table>
                                        <tr>

                                          {% for image in message.image_box %}
                                          <td>
                                            <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                           </td>
                                          {% endfor %}

                                        </tr>
                                      </table>
                                    {% endif %}


                                    <p>{{message.pub_date}}</p>
                                  </li>

                            {% else %}

                                  <li class="list-group-item not-read-messages {{message.writer.id}}"  style ="background-color: rgb(247, 245, 245);">
                                   <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                   {% if message.text %}
                                     <p>{{message.text}}</p>
                                   {% endif %}
                                   {% if message.image_box %}
                                     <table>
                                       <tr>

                                         {% for image in message.image_box %}
                                         <td>
                                           <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                          </td>
                                         {% endfor %}

                                       </tr>
                                     </table>
                                   {% endif %}

                                   <p>{{message.pub_date}}</p>
                                 </li>

                            {% endif %}
                      {% endif %}

                 {% else %}

                        {% if message.is_read == True %}

                              <li class="list-group-item {{message.writer.id}}" style ="background-color: white;">
                                <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                {% if message.text %}
                                  <p>{{message.text}}</p>
                                {% endif %}
                                {% if message.image_box %}
                                  <table>
                                    <tr>

                                      {% for image in message.image_box %}
                                      <td>
                                        <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                       </td>
                                      {% endfor %}
                                    </tr>
                                  </table>
                                {% endif %}


                                <p>{{message.pub_date}}</p>
                              </li>

                        {% else %}

                              <li class="list-group-item not-read-messages {{message.writer.id}}"  style ="background-color: rgb(247, 245, 245);">
                               <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                               {% if message.text %}
                                 <p>{{message.text}}</p>
                               {% endif %}
                               {% if message.image_box %}
                                 <table>
                                   <tr>


                                     {% for image in message.image_box %}
                                     <td>
                                       <a href="{{image.image.url}}"><img  src="{{image.image_ultra.url}}"></a>
                                      </td>
                                     {% endfor %}

                                   </tr>
                                 </table>
                               {% endif %}

                               <p>{{message.pub_date}}</p>
                             </li>

                        {% endif %}

                {% endif %}

          {% endfor %}
          <p id='scroll-to-id'></p>
        </ul>
      </div>





              <form action="" method="post" id="messaging" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">

                      <label for="id_text">Text:</label>
                      <textarea name="text" id="id_text" cols="1" rows="2" maxlength="1000" class="form-control"></textarea>
                    </div>

                    <p><label for="id_image"></label>
                    <input name="image" accept="image/*" multiple="" id="id_image" type="file" style = 'display: none;'></p>

                    <input value="Submit" class="btn btn-dark cust-button" type="submit">
                    <i class="far fa-file-image" id= 'show-image-form'></i>

                </form>


  </div>

      </div>
      {% cache 300 third request.user.username %}
      <div class="third-column">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-info my_subs">Following</button>
          <button type="button" class="btn btn-outline-info onme_subs">Followers</button>
        </div>
        <ul class="list-group">
          <div class="mysubs-group">
          {% for subscrib in my_subscribs %}
            <a href="{% url 'wall' subscrib.to.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.to.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.to.first_name}} {{subscrib.to.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
        <ul class="list-group">
          <div class="subs_onme_group">
          {% for subscrib in subscrib_onme %}
            <a href="{% url 'wall' subscrib.who.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.who.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.who.first_name}} {{subscrib.who.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
      </div>
      {% endcache %}
    </div>

  </div>


  {% endblock %}

  {% block javascript %}

  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src = "{% static 'js/ajax-messages.js' %}"></script>
  <script src = "{% static 'js/ajax-read.js' %}"></script>
  <script src = "{% static 'js/myscripts.js' %}"></script>
  <script src="{% static 'js/scroll-down-messages.js' %}"></script>
  <script src = "{% static 'js/ajax-read.js' %}"></script>


  {% endblock %}
