{% extends 'base.html' %}

  {% load static %}
  {% load cache %}

  {% block custom_css %}
    <link rel='stylesheet' type='text/css' href="{% static 'css/customated.css' %}">

  {% endblock %}


  {% block content %}


  <div class="container">

    {% if request.user.profile.red_envelope %}
      <p id='red-envelope'></p>
    {% endif %}

    <div class="row">
      {% cache 300 first request.user.username %}

      <div class="first-column">
        <p>{{profile.user.first_name}} {{profile.user.last_name}}</p>
        <img class='round-im-100 avatar' src="{{ profile.small_avatar_url }}" name = '{{profile.avatar_opening_link}}' style="vertical-align: middle;">
        {% if profile.status %}
          <p>{{profile.status}}</p>
        {% endif %}


            {% if notif == True %}
              <p id= 'notif' name ='True'></p>
            {% else %}
              <p id= 'notif' name = 'False'></p>
            {% endif %}

      </div>
      {% endcache %}
      <div class="second-column">

        <div class="gallery-container">
            <div class="gallery-window">
            </div>
        </div>

        <div>
            <div class="chat-head">
            <img src="{{chat.chat_small_pict_url}}" class="round-im-50 chat-avatar">
          {% if chat.is_group_chat %}
            <p class='chat-name' style="font-weight:bold; color:purple;">{{chat.name}}</p>
            <p>
              <i class="fas fa-cog fa-2x chat-settings" style="color:purple;"></i>
              <i class="fas fa-users fa-2x show-chat-members" style="color:purple;"></i>
            </p>
            </div>
            <div class="hidden-chat-settings">
              <p style="color:rgb(0, 123, 255);" id='show-changing-form'>Change chat name</p>
              <form action="" method="post" style="margin-top:10px;" class = 'change-chat-name'>
                <div class = 'hidden-name-form'>
                  {% csrf_token %}
                  <div class="form-group">
                  <textarea name="name" id="id_name" cols="1" maxlength="100" rows="1" class="form-control" required=""></textarea>
                  </div>
                  <input value="Submit" class="btn btn-dark cust-button" type="submit">
                </div>
              </form>
              <p style="color:rgb(0, 123, 255);" id='show-avatar-form'>Change chat avatar</p>
              <form action="" method="post" class = 'change-chat-avatar' enctype="multipart/form-data">
                <div class="hidden-avatar-form">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="file" name="avatar" accept="image/*" id="id_image">
                  </div>
                  <input type='submit' value = 'Submit' class ='btn btn-dark cust-button'>
                </div>
              </form>

            </div>

            <div class="hidden-redirect">



              <form action="" id="redirect-form" method="POST" style = 'display:none'>
                {% csrf_token%}
              <input type="hidden" name="var" value="val">
              </form>




            <div class ='chat-members'>
            {% for member in chat.members %}
              <a class ='chat-member-link' href="{% url 'wall' member.id %}"><p><img src="{{member.profile.ultra_avatar_url}}" class="round-im-50">{{member.first_name}} {{member.last_name}}</p></a>
            {% endfor %}
            <a href="#" class='add-member-link'>Add new chat member?</a>
            <form action="{% url 'messenger:add_member' chat.id %}" class="add-member-form" method="POST">
              {% csrf_token%}
            <input type="hidden">
            </form>
            <p style="color:rgb(0, 123, 255);" class='drop-chat'>Leave this chat?</p>
            </div>
          {% endif %}
        <div class="scroll-message-box">
        <ul class="list-group" id='message-list'>
          <p class="page-number"  name = 1></p>
           {% for message in messages %}

                {% if  message.chat.is_group_chat %}

                      {% if request.user == message.writer %}

                            {% if message.has_two_readers %}

                                  <li class="list-group-item {{message.writer.id}}" style ="background-color: white; width: 790px;!important" name = '{{message.id}}'>
                                    <p class ='writer'>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                    {% if message.text %}
                                      <p>{{message.text}}</p>
                                    {% endif %}
                                    {% if message.image_box %}
                                      <p>
                                          {% for image in message.image_box %}
                                            <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                          {% endfor %}
                                      </p>
                                    {% endif %}

                                    <p class = 'date'>{{message.pub_date}}</p>
                                  </li>

                            {% else %}

                                  <li class="list-group-item not-read-messages {{message.writer.id}}" name = '{{message.id}}' style ="background-color: rgb(247, 245, 245); width: 790px!important;">
                                   <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                   {% if message.text %}
                                     <p>{{message.text}}</p>
                                   {% endif %}
                                   {% if message.image_box %}
                                     <p>
                                         {% for image in message.image_box %}
                                           <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                         {% endfor %}
                                     </p>
                                   {% endif %}

                                   <p>{{message.pub_date}}</p>
                                 </li>

                            {% endif %}

                      {% else %}

                            {% if request.user in message.recieved %}

                                  <li class="list-group-item {{message.writer.id}}" name = '{{message.id}}' style ="background-color: white;  width: 790px!important;">
                                    <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                    {% if message.text %}
                                      <p>{{message.text}}</p>
                                    {% endif %}
                                    {% if message.image_box %}
                                      <p>
                                          {% for image in message.image_box %}
                                            <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                          {% endfor %}
                                      </p>
                                    {% endif %}


                                    <p>{{message.pub_date}}</p>
                                  </li>

                            {% else %}

                                  <li class="list-group-item not-read-messages {{message.writer.id}}" name = '{{message.id}}' style ="background-color: rgb(247, 245, 245);  width: 790px!important;">
                                   <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                   {% if message.text %}
                                     <p>{{message.text}}</p>
                                   {% endif %}
                                   {% if message.image_box %}
                                     <p>
                                         {% for image in message.image_box %}
                                           <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                         {% endfor %}
                                     </p>
                                   {% endif %}

                                   <p>{{message.pub_date}}</p>
                                 </li>

                            {% endif %}
                      {% endif %}

                 {% else %}

                        {% if message.is_read == True %}

                              <li class="list-group-item {{message.writer.id}}" name = '{{message.id}}' style ="background-color: white;  width: 790px!important;">
                                <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                                {% if message.text %}
                                  <p>{{message.text}}</p>
                                {% endif %}
                                {% if message.image_box %}
                                  <p>
                                      {% for image in message.image_box %}
                                        <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                      {% endfor %}
                                  </p>
                                {% endif %}


                                <p>{{message.pub_date}}</p>
                              </li>

                        {% else %}

                              <li class="list-group-item not-read-messages {{message.writer.id}}" name = '{{message.id}}' style ="background-color: rgb(247, 245, 245);  width: 790px!important;">
                               <p>{{message.writer.first_name}} {{message.writer.last_name}}</p>
                               {% if message.text %}
                                 <p>{{message.text}}</p>
                               {% endif %}
                               {% if message.image_box %}
                                 <p>
                                     {% for image in message.image_box %}
                                       <img  src="{{image.image_ultra.url}}" class ='mini-images' name = '{{image.image.url}}'>
                                     {% endfor %}
                                 </p>
                               {% endif %}

                               <p>{{message.pub_date}}</p>
                             </li>

                        {% endif %}

                {% endif %}

          {% endfor %}
          <p id='scroll-to-id'></p>
        </ul>
      </div>

              <form action="" method="post" id="messaging" enctype="multipart/form-data" style="margin-top:10px;">
                    {% csrf_token %}

                    <div class="form-group">

                      <textarea name="text" id="id_text" cols="1" rows="2" maxlength="1000" class="form-control"></textarea>
                      <input value="Submit" class="btn btn-dark cust-button" type="submit">
                      <i class="far fa-image fa-2x add-picture" id= 'show-image-form' style="color: purple;"></i>
                    </div>

                    <div class="form-group">

                      <input type="file" name="image" accept="image/*" id="id_image_message" multiple=""  style="display:none;">

                    </div>

                </form>

  </div>

      </div>
      {% cache 300 third request.user.username %}
      <div class="third-column">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-outline-info my_subs">Following</button>
          <button type="button" class="btn btn-outline-info onme_subs">Followers</button>
        </div>
        <ul class="list-group">
          <div class="mysubs-group">
          {% for subscrib in my_subscribs %}
            <a href="{% url 'wall' subscrib.to.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.to.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.to.first_name}} {{subscrib.to.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
        <ul class="list-group">
          <div class="subs_onme_group">
          {% for subscrib in subscrib_onme %}
            <a href="{% url 'wall' subscrib.who.id %}">
              <li class="list-group-item" style="width: 400px;">
                      <img class='round-im-50' src="{{subscrib.who.profile.ultra_avatar_url}}" style="vertical-align: middle;">
                      <p class ='list-subscribs' style="float:right;">{{subscrib.who.first_name}} {{subscrib.who.last_name}}</p>
              </li>
            </a>
          {% endfor %}
          </div>
        </ul>
      </div>
      {% endcache %}
    </div>

  </div>


  {% endblock %}

  {% block javascript %}

  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src = "{% static 'js/ajax-messages.js' %}"></script>
  <script src = "{% static 'js/ajax-update-chat.js' %}"></script>
  <script src = "{% static 'js/ajax-read.js' %}"></script>
  <script src = "{% static 'js/myscripts.js' %}"></script>
  <script src="{% static 'js/scroll-down-messages.js' %}"></script>
  <script src = "{% static 'js/ajax-read.js' %}"></script>
  <script src = "{% static 'js/ajax-update-messages.js' %}"></script>



  {% endblock %}
