.new-message{
	position: fixed;
	left: 5px;
}

.gallery-container{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 101!important;
	display: none;
}

.gallery-window{
	border: 3px #000 solid;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: white;
	z-index: 100!important;
}

.left-arrow{
	color: white;
	opacity: 0.1;
	position: absolute;
	right: 95%;
	top: 50%;
	z-index: 101!important;
}

.right-arrow{
	color: white;
	opacity: 0.1;
	position: absolute;
	left: 95%;
	top: 50%;
	z-index: 101!important;
}

.scroll-message-box {
height: 700px!important; /* высота нашего блока */
width: 800px!important; /* ширина нашего блока */
background: #fff!important; /* цвет фона, белый */
border: 1px solid #C1C1C1!important; /* размер и цвет границы блока */
overflow-y: scroll!important; /* прокрутка по вертикали */
margin-top: 20px;
}

.first-column{
	float: left;
	width: 171px!important;
}

.second-column{
	width: 773px!important;
}

.third-column{
	float:right!important;
	right: 330px;
	position: absolute;
	top: 14%;
	width: 171px!important;
}

#message-list{
	width: 773px!important;
}

.my-navbar{
	background-color: purple!important;
	height: 80px;
	margin-top: 10px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index:50;

}

.post-square{
	margin-top: 20px;
}

.hidden-chat-settings{
	display: none;
}

.chat-members{
	display: none;
}

.hidden-name-form{
	display: none;
}

.hidden-avatar-form{
	display: none;
}

.people_elem{
	font-weight:bold;
}

.avatar-deleting{
	color:rgb(0, 123, 255);
}

.square_box_div{
	height: 700px;
	width: 500px;
	margin:50px auto;

}

.cust-button{
	background-color: purple!important;
}

.three-columns{
	margin-left: -80px!important;
}

.open_image {
	width: 700px;
	height: 700px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 1; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
}

.image_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

.post_detail{
  text-decoration: none!important;
}

.chat-member-link{
	text-decoration: none!important;
	color: black;
}

.post-text {
  color: black;
}


.post-date {
  color: black;
}

.email-hidden-form{
	display: none;
}

.list-subscribs{
  color: black;
}

.round-im {
   border-radius: 100px!important; /* Радиус скругления */
   border: 3px solid grey!important; /* Параметры рамки */

}

.round-im-100 {
	border-radius: 100px!important; /* Радиус скругления */
	border: 3px solid grey!important; /* Параметры рамки */
	width: 100px;
	height: 100px;
}

.round-im-50 {
	border-radius: 50px!important; /* Радиус скругления */
	border: 3px solid grey!important; /* Параметры рамки */
	width: 50px;
	height: 50px;
}

.round-im-25 {
	border-radius: 25px!important; /* Радиус скругления */
	border: 2px solid grey!important; /* Параметры рамки */
	width: 25px;
	height: 25px;
}


.notif-column {
   position:relative!important;
   z-index:5;

}

.status-enter{
  display: none;

}

.fa-times{
    opacity: 0.3;
}


#id_image_message{
  display: none;
}

.com-column{
  display: none;
}

.subs_onme_group{
  display: none;
}

.hidden-avatar-form{
	display: none;
}
