<!doctype html>
{% load static %}
<html lang="en-us-ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<body>

<p class = 'error-string' style='color:purple; left: 50%;	top: 50%; font-size:100px; text-align:center; font-weight: bold; margin-top:300px;'>500</p>
<p class = 'error-string' style='color:purple; left: 50%;	top: 50%; font-size:80px; text-align:center; font-weight: bold;'>Internal Server Error</p>

</body>
</html>
