{% extends 'base.html' %}

  {% load static %}

  {% block custom_css %}
  {% endblock %}


  {% block content %}


  <div class="container">

    <div class="row text-center">

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>

    <div class="row">
      <div class="col-1.5">
          <h>First column</h>
      </div>
      <div class="col">

        <p>Already have an account?<a href = "{% url 'login' %}">Login here!</a></p>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ form.non_field_errors }}
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
            </div>
            <div class="form-group">
            {% endfor %}
            <input type='submit' value = 'submit' class ='btn btn-dark'>
        </form>

      </div>
      <div class="col-2">
        <h>Third column</h>
      </div>
    </div>

  </div>


  {% endblock %}
